pyyaml
sqlalchemy
python-dateutil
easygui
pyqt4
pypiwin32==219; sys_platform == 'win32'
adodbapi
pyodbc==4.0.16
future_fstrings
pymssql
sqlparams
-e git+ssh://jira.renalregistry.nhs.uk:7999/rr/rr_database#egg=rr.database
-e git+ssh://jira.renalregistry.nhs.uk:7999/rr/utils#egg=rr.utils
-e git+ssh://git@jira.renalregistry.nhs.uk:7999/rr/rr_common#egg=rr_common
-e git+ssh://git@jira.renalregistry.nhs.uk:7999/rr/rr_reports#egg=rr_reports
-e git+ssh://git@jira.renalregistry.nhs.uk:7999/rr/rr_data#egg=rr_data
-e git+ssh://git@jira.renalregistry.nhs.uk:7999/rr/rr_resources#egg=rr_resourceS
-e git+ssh://git@bitbucket.renalregistry.nhs.uk:7999/tng/cohort_extract.git
-e .
