pyyaml
sqlalchemy==1.3.5
python-dateutil==2.8.0
easygui==0.97.4
pyqt4==4.11.4
pywin32==300; sys_platform == 'win32'
adodbapi==2.6.1.3; python_version >= '3.6'
pyodbc==4.0.16
future_fstrings==1.2.0
pymssql
sqlparams
-e git+ssh://git@jira.renalregistry.nhs.uk:7999/rr/rr_database#egg=rr.database
-e git+ssh://git@jira.renalregistry.nhs.uk:7999/rr/utils#egg=rr.utils
-e git+ssh://git@jira.renalregistry.nhs.uk:7999/rr/rr_common#egg=rr_common
-e git+ssh://git@jira.renalregistry.nhs.uk:7999/rr/rr_reports#egg=rr_reports
-e git+ssh://git@jira.renalregistry.nhs.uk:7999/rr/rr_data#egg=rr_data
-e git+ssh://git@jira.renalregistry.nhs.uk:7999/rr/rr_resources#egg=rr_resourceS
-e .
